GRAZPEDWRI-DX/data/images/test/*
GRAZPEDWRI-DX/data/images/train/*
GRAZPEDWRI-DX/data/images/train_aug/*
GRAZPEDWRI-DX/data/images/valid/*
GRAZPEDWRI-DX/data/labels/test/*
GRAZPEDWRI-DX/data/labels/train/*
GRAZPEDWRI-DX/data/labels/train_aug/*
GRAZPEDWRI-DX/data/labels/valid/*
runs/detect/train/weights/best.pt
runs/detect/train/weights/last.pt
yolov8n.pt
bus.jpg
**/.DS_Store
**/GTSRB
**/GTSDB
**/FracAtlas
**/__pycache__/
.pt
GRAZ_dset/yolov5/images/*
**/.ipynb_checkpoints
GRAZ_dset/data/images/*
GRAZ_dset/data/labels/*
GRAZ_dset/notebooks/*
GRAZ_dset/pascalvoc/*
GRAZ_dset/supervisely/*